---
title: Puberty Education for Girls
---	

{% include header.html %}

	<div id="headerImage">
		<div id="intro">
			<h1>Fostering <span class="green">confidence</span> and <span class="green">body literacy</span> through fun, engaging, and informative classes in Austin, Texas.</h1> 
			<a class="buttonTransparent" href="/register">Register for a class</a>
		</div>
	</div><!--#headerImage-->

	<div class="grayBackground">
		<div id="bodyContainer">
			<h2 class="bodyHeader">Why should my daughter attend PEGatx classes?</h2>
			<div id="benefits">
				<div id="confidence">
					<img src="img/thumbsup.png" class="mustardIcon" />
					<h3 class="mustard">Improved self-confidence</h3>
				</div><!--#confidence-->
				<div id="knowledge">
					<img src="img/lightbulb.png" class="purpleIcon" />
					<h3 class="purple">Knowledge about how her body works</h3>
				</div><!--#knowledge-->
				<div id="fear">
					<img src="img/chart.png" class="greenIcon" />
					<h3 class="green">Reduced fears about puberty &amp; menstruation</h3>
				</div><!--#fear-->
			</div>
			<h2 class="bodyHeader" id="the-organization">About PEGatx</h2>
			<div class="about">
				<div class="aboutInfo">
					<h3 class="headerMargin purple">Our mission</h3>
					<p>Negative attitudes about menstruation have been found to contribute to body shame and self objectification. Schools only allot a small amount of time to teach young girls about this important subject, and many vital details are omitted as a result.</p>
					<p class="paragraphMargin">Our mission is to educate girls in a small group setting about the changes they can expect during puberty. Our classes will help your daughter become informed, confident, and body-positive.</p>
				</div><!--.aboutInfo-->
			</div><!--.about-->
			<h2 class="bodyHeader" id="the-classes">About the Classes</h2>
			<div class="about">
				<div class="aboutInfo">
					<h3 class="headerMargin mustard">What your daughter will learn</h3>
					<p>Our puberty education course includes four one-hour classes spread out over a four-week period. During these classes, your daughter will learn about the physical changes that will cause her to start her period, period hygiene and menstrual products, and managing any unpleasant menstrual symptoms in a healthy way.</p>
					<p class="paragraphMargin">We will play games, complete activities, and make crafts to foster learning while creating a safe space for your daughter to ask any questions she may have.</p>
					<p class="paragraphMargin">We encourage parents or legal guardians to attend classes to promote a healthy dialogue between you and your daughter about the changes she&rsquo;ll experience. You&rsquo;ll probably learn a few things, too!</p>
					<h3 class="headerMargin mustard">Course pricing</h3>
					<p>$200 covers the cost of the entire course, which is four one-hour classes. It also includes snacks that will be provided during each class, and a period starter kit that will be given out during the fourth and final class. Most importantly, your money will go towards helping your daughter grow up with confidence!</p>
					<div class="centered">
						<a class="button" href="/register">View upcoming classes</a>
					</div>
				</div><!--.aboutInfo-->
			</div><!--.about-->
			<h2 class="bodyHeader" id="the-teacher">About the Teacher</h2>
			<div class="about">
				<div class="aboutInfo">
					<h3 class="headerMargin green">Meet Jennifer</h3>
					<div class="centeredImage">
						<img src="img/JA.jpg" id="jaImage" alt="Jennifer Aldoretta" />
					</div>
					<p>PEGatx classes are taught by Austin resident and entrepreneur Jennifer Aldoretta. Jennifer is the cofounder and CEO of <a class="text-link" target="_blank" href="http://www.readytogroove.com">Groove</a>, an Austin-based women&rsquo;s health company and makers of the <a class="text-link" target="_blank" href="http://www.itunes.apple.com/app/id831795151">Groove &dash; Period &amp; Fertility Tracker</a> app for iPhone.</p>
					<p class="paragraphMargin">She is an expert in reproductive health and the menstrual cycle, and has written a book called <em><a class="text-link" target="_blank" href="http://www.leanpub.com/the-cycle">The Cycle</a></em> about the subject. She has many years of experience working with young girls through Girl Scouts of the USA, and is passionate about helping girls reduce body image issues and improve self-confidence through education.</p>
					<p class="paragraphMargin">To ensure the safety of your daughter during her classes, Jennifer will remain up-to-date on First Aid, CPR, and AED training, and will provide a background check to registrants upon request. </p>
				</div><!--.aboutInfo-->
			</div><!--.about-->
			<div class="about">
				<div class="aboutInfo">
					<h3 id="callToAction">Put your daughter on a path to high self-esteem and confidence.</h3>
					<div class="centered">
						<a class="button" href="/register">Register for a class</a>
					</div>
				</div><!--.aboutInfo-->
			</div><!--.about-->
		</div><!--.bodyContainer-->

{% include footer.html %}