---
title: Register - Puberty Education for Girls
---	

{% include header.html %}

<div class="grayBackground">
	<div id="bodyContainer">
		<h2 class="bodyHeader">Upcoming Classes</h2>
		<div class="about">
			<div class="aboutInfo">
				<h3 class="headerMargin purple">October 2014</h3>
				<p><strong>DATE:</strong> the next course begins Saturday, October 18 and will take place every Saturday for four weeks.</p>
				<p class="paragraphMargin"><strong>TIME:</strong> 2 p.m. - 3 p.m.</p>
				<p class="paragraphMargin"><strong>LOCATION:</strong> TBD (classes will be held at a centrally-located, public facility in Austin)</p>
				<p class="paragraphMargin"><strong>COST:</strong> $200</p>
				<p class="headerMargin">Submit your email address below and we&rsquo;ll contact you with more information.</p>
				<form id="newsletter-form" action="//pubertyeducationforgirls.us8.list-manage.com/subscribe/post?u=e68ff268a5f680e789f5d4f1b&amp;id=a53afbad5a" method="post" class="clearfix">
		      <input name="EMAIL" type="email" placeholder="you@yours.com" required />
		      <button class="button" type="submit">Submit</button>
		    </form><!--#email-form-->
	  	</div><!--.aboutInfo-->
		</div><!--.about-->
	</div>


{% include footer.html %}