<!-- Document Header -->

<!DOCTYPE html>
<html lang="en">

<!--Header starts here-->
	<head>
		<meta charset="utf-8">
		<title>{{page.title}}</title>
		<meta property="og:site_name" content="Puberty Education for Girls in Austin, Texas"/>
    <meta property="og:title" content="Puberty Education for Girls"/>
    <!-- <meta property="og:image" content="http://www.readytogroove.com/img/groove-icon.jpg"/> -->
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:description" content="Fostering confidence and body literacy in a fun, engaging, and informative way." />
    <meta name="description" content="Fostering confidence and body literacy in a fun, engaging, and informative way.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
		<link rel="stylesheet" type="text/css" href="/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
	</head>

	<body>
		<div id="whiteBackground">
			<div id="navBar" class="clearfix">
				<div id="logo">
					<a href="/"><img id="logoSizing" src="/img/PEGatx-icon.png" alt="PEGatx"/></a>
				</div>
				<ul id="nav">
					<li class="navLink small"><a class="text-link" href="/#the-organization">ABOUT</a></li>
					<li class="navLink small"><a class="text-link" href="/#the-classes">CLASSES</a></li>
					<li class="navLink small"><a class="text-link" href="/#the-teacher">TEACHER</a></li>
					<li class="navLink small"><a class="text-link" href="/register">REGISTER</a></li>
				</ul>
			</div>
		</div>